<div>
  <select class="form-select" aria-label="Default select example" id="qldropdown">
    <option value="/diem-dat-quang-cao" selected>Các điểm đặt quảng cáo</option>
    <option value="/bang-quang-cao">Các bảng quảng cáo</option>
  </select>
</div>
