<div>
  <select class="form-select" aria-label="Default select example" id="qldropdown" onchange="window.location = this.value">
    <option value="/cac-diem-dat-quang-cao" selected>Các điểm đặt quảng cáo</option>
    <option value="/cac-bang-quang-cao">Các bảng quảng cáo</option>
  </select>
</div>
<script>
  document.querySelector(`option[value="${window.location.pathname}"]`).selected = true;
</script>
