<div>
  <select class="form-select" aria-label="Default select example" id="qldropdown" onchange="window.location = this.value">
    <option value="/cac-diem-dat-quang-cao" selected>Các điểm đặt quảng cáo</option>
    <option value="/cac-bang-quang-cao">Các bảng quảng cáo</option>
  </select>
</div>
<script>
  // no cache when going back so this will work when the user go back to previous page as well
  window.addEventListener("pageshow", () => {
    document.querySelector(`option[value="${window.location.pathname}"]`).selected = true;
  });
</script>
