<div
  class="bg-dark flex-shrink-1 h-100 d-flex flex-column justify-content-between"
>
  <div class="bg-dark p-2">
    <a
      href=""
      class="d-flex text-decoration-none mt-1 align-items-center text-white"
    >
      <span class="fs-4 d-none d-xl-inline">Ads Management</span>
    </a>
    <hr class="border border-light border-1 opacity-100 my-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item text-xl-start text-center mb-2">
        <a
          href="/"
          class="nav-link text-white sidebar-nav <% if (typeof currentPage !== "undefined") {  if (currentPage == "trang-chu") {%>active <%} }%>"
          aria-current="page"
          id="nav1"
        >
          <i class="bi bi-house-fill fs-5"></i
          ><span class="fs-5 ms-3 d-none d-xl-inline">Trang chủ</span>
        </a>
      </li>
      <li class="nav-item text-xl-start text-center mb-2">
        <a
          href="/cac-diem-dat-quang-cao"
          class="nav-link text-white sidebar-nav  <% if ((typeof currentPage !== "undefined" && currentPage == "quang-cao")){%>active <%} %>"
          aria-current="page"
          id="nav2"
         

        >
          <i class="bi bi-folder-fill fs-5"></i
          ><span class="fs-5 ms-3 d-none d-xl-inline">Quảng cáo </span>
        </a>
      </li>
      <li class="nav-item text-xl-start text-center mb-2">
        <a
          href="/cac-bao-cao"
          class="nav-link text-white sidebar-nav <% if ((typeof currentPage !== "undefined" && currentPage == "bao-cao")) {   %>active <% }%>"
          aria-current="page"
          id="nav3"
        >
          <i class="bi bi-exclamation-octagon-fill fs-5"></i>
          <span class="fs-5 ms-3 d-none d-xl-inline">Báo cáo</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="dropdown open">
    <button
      class="btn border-none dropdown-toggle text-white"
      type="button"
      id="triggerId"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="bi bi-person-circle fs-2"></i
      ><span class="ms-2 d-none d-xl-inline">Nguyễn Tuấn Kiệt</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
      <button class="dropdown-item" href="#">Cập nhật thông tin</button>
      <form action="/logout" method="post">
        <button class="logout dropdown-item" type="submit">Đăng xuất</button>
      </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // when go to ad points list, the selected option should be updated accordingly
  });
</script>
