<!-- Hình thức qc -->
<select id="adType" class="form-select" name="adType">
  <% adTypes.forEach(function(adType) { %>
  <option value="<%= adType.name %>"><%= adType.name %></option>
  <% }); %>
</select>
