<select id="adType" class="form-select">
  <option value="Trụ màn hình điện tử LED">Trụ màn hình điện tử LED</option>
  <option value="Trụ bảng hiflex">Trụ bảng hiflex</option>
  <option value="Trụ màn hình điện tử LED">Trụ màn hình điện tử LED</option>
  <option value="Trụ hộp đèn">Trụ hộp đèn</option>
  <option value="Bảng hiflex ốp tường">Bảng hiflex ốp tường</option>
  <option value="Màn hình điện tử ốp tường">Màn hình điện tử ốp tường</option>
  <option value="Trụ treo băng rôn dọc">Trụ treo băng rôn dọc</option>
  <option value="Trụ treo băng rôn ngang">Trụ treo băng rôn ngang</option>
  <option value="Trụ/Cụm pano">Trụ/Cụm pano</option>
  <option value="Cổng chào">Cổng chào</option>
  <option value="Trung tâm thương mại">Trung tâm thương mại</option>
</select>
