<select id="adFormat" class="form-select">
  <option value="Cổ đông chính trị">Cổ đông chính trị</option>
  <option value="Quảng cáo thương mại">Quảng cáo thương mại</option>
  <option value="Xã hội hóa">Xã hội hóa</option>
</select>
