<select id="locationType" class="form-select">
  <option value="Đất công/Công viên/Hành lang an toàn giao thông">
    Đất công/Công viên/Hành lang an toàn giao thông
  </option>
  <option value="Đất tư nhân/Nhà ở riêng lẻ">Đất tư nhân/Nhà ở riêng lẻ</option>
  <option value="Trung tâm thương mại">Trung tâm thương mại</option>
  <option value="Cây xăng">Cây xăng</option>
  <option value="Nhà chờ xe buýt">Nhà chờ xe buýt</option>
</select>
