<div class="bg-dark flex-shrink-1 h-100 d-flex flex-column justify-content-between">
    <div class="bg-dark p-2">
		<a href="" class="d-flex text-decoration-none mt-1 align-items-center text-white">
			<span class="fs-4 d-none d-xl-inline">Ads Management</span>
		</a>
		<hr class="border border-light border-1 opacity-100 my-2 d-none d-xl-block">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/" class="nav-link text-white sidebar-nav" aria-current="page" id="nav1">
					<i class="bi bi-house-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Trang chủ</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/quanly/quan" class="nav-link text-white sidebar-nav" aria-current="page" id="nav2">
					<i class="bi bi-folder-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Quản lý</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/hanhchinh/cap-phep-qc" class="nav-link text-white sidebar-nav" aria-current="page" id="nav3">
					<i class="bi bi-clipboard2-data-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Hành chính</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/canbo/tai-khoan-cb" class="nav-link text-white sidebar-nav" aria-current="page" id="nav4">
					<i class="bi bi-person-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Cán bộ</span>
				</a>
			</li>
			</li>
		</ul>
	</div>

	<div class="dropdown open">
		<button class="btn border-none dropdown-toggle text-white" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<i class="bi bi-person-circle fs-2"></i><span class="ms-2 d-none d-xl-inline">Nguyễn Tuấn Kiệt</span>
			</button>
		<div class="dropdown-menu" aria-labelledby="triggerId">
			<a class="dropdown-item" href="/edit-profile">Cập nhật thông tin</a>
			<form action="/logout" method="post">
				<button class="logout dropdown-item" type="submit">Đăng xuất</button>
			  </form>
		</div>
	</div>
</div>

<script>
	const items = document.querySelectorAll('.sidebar-nav');
	const activeNav = [...items].find(item => {
		const lastSlashIndex = item.href.lastIndexOf('/');
		const href = item.href.substring(0, lastSlashIndex+1);
		if (href === 'http://localhost:9000/') {
			return href === window.location.href;
		} 
		// Check if the current window location includes the href
		return window.location.href.includes(href);
	})
	document.querySelector(`a[href="${activeNav.getAttribute('href')}"]`).classList.add('active')	
</script>