<div class="bg-dark flex-shrink-1 h-100 d-flex flex-column justify-content-between">
    <div class="bg-dark p-2">
		<a href="/group-info" class="d-flex text-decoration-none mt-1 align-items-center text-white">
			<span class="fs-4 d-none d-xl-inline">Ads Management</span>
		</a>
		<hr class="border border-light border-1 opacity-100 my-2 d-none d-xl-block">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/" class="nav-link text-white sidebar-nav" aria-current="page" id="nav1">
					<i class="bi bi-house-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Trang chủ</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/quanly/diem-dat-quang-cao" class="nav-link text-white sidebar-nav" aria-current="page" id="nav2">
					<i class="bi bi-folder-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Quản lý</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/hanhchinh/cap-phep-qc" class="nav-link text-white sidebar-nav" aria-current="page" id="nav3">
					<i class="bi bi-clipboard2-data-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Hành chính</span>
				</a>
			</li>
			<li class="nav-item text-xl-start text-center mb-2">
				<a href="/so/canbo/tai-khoan-cb" class="nav-link text-white sidebar-nav" aria-current="page" id="nav4">
					<i class="bi bi-person-fill fs-5"></i><span class="fs-5 ms-3 d-none d-xl-inline">Cán bộ</span>
				</a>
			</li>
			</li>
		</ul>
	</div>

	<div class="dropdown open">
		<button class="btn border-none dropdown-toggle text-white d-flex align-items-center" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
			<i class="bi bi-person-circle fs-2"></i>
			<div class="d-flex flex-column">
				<span class="ms-2 d-none d-xl-inline"><%= user.username %></span>
				<p class="fst-italic" style="font-size: 0.9rem; font-weight: normal; color: lightgrey;">Cán bộ sở</p>
			</div>
		</button>
		<div class="dropdown-menu" aria-labelledby="triggerId">
			<a class="dropdown-item" href="/edit-profile/<%= user._id %>">Cập nhật thông tin</a>
			<form action="/logout" method="post">
				<button class="logout dropdown-item" type="submit">Đăng xuất</button>
			  </form>
		</div>
	</div>
</div>

<script>
	const items = document.querySelectorAll('.sidebar-nav');
	const activeNav = [...items].find(item => {
		const temp = item.getAttribute('href');

		const lastSlashIndex = temp.lastIndexOf('/');
		const href = temp.substring(0, lastSlashIndex+1);

		if (href === '/') {
			return href === window.location.pathname;
		} 
		// Check if the current window location includes the href
		return window.location.href.includes(href);
	})
	document.querySelector(`a[href="${activeNav.getAttribute('href')}"]`).classList.add('active')	
</script>