<% layout('layouts/canbo') %>
<h1 class="text-center">Chỉnh sửa loại hình -Loại hình nào?-</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="">
            <div class="mb-3">
                <label for="tenQuan" class="form-label">Tên loại hình</label>
                <input type="text" class="form-control" id="tenQuan" placeholder="" value="Cổ động chính trị">
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Mô tả</label>
                <textarea class="form-control" id="moTa" rows="3">loại hình này có mục tiêu cổ động các mục tiêu chính trị</textarea>
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Chú thích</label>
                <textarea class="form-control" id="moTa" rows="3">loại hình này được ưu tiên</textarea>
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-info">Chỉnh sửa</button>
            </div>
        </form>
    </div>
</div>