* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Nunito;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.search-bar {
    font-size: 1.6rem;
    position: absolute;
    left: 2.4rem;
    top: 1.6rem;
    padding: 0;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    padding: 0.6rem 1.2rem;
}

.search-bar__icon {
    padding-right: 0.8rem;
    color: #333;
}

.search-bar__input {
    font-family: Nunito;
    flex: 1;
    border: none;
    outline: none;
}

.ads-point {
    font-size: 1.4rem;
    background-color: #4285F4;
    padding: 4px;
    border-radius: 50%;
}

.ads-point__info {
    font-size: 1.5rem;
    font-family: Nunito;
    position: absolute;
    bottom: calc(100% + 24px);
    left: 50%;
    transform: translateX(-50%);
    width: 284px;
    padding: 12px 12px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 2px #ccc;
    display: none;
}

.ads-point:hover .ads-point__info {
    display: block;
	animation: fade-in ease-out .3s;
}

.ads-point .info__form {
    font-size: 1.6rem;
    font-weight: 600;
}

.ads-point__info > * {
    margin-bottom: 8px;
}

.info__img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ads-point .info__planning-stt {
    font-weight: 700;
}

.ads-point__info::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.ads-point__info::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 24px;
    background-color: transparent;
}