<% layout('layouts/canbo') %>
<h1 class="text-center">Thêm loại hình thức</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="">
            <div class="mb-3">
                <label for="tenQuan" class="form-label">Tên loại hình thức</label>
                <input type="text" class="form-control" id="tenQuan" placeholder="Vd: Tố giác sai phạm">
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Mô tả</label>
                <textarea class="form-control" id="moTa" rows="3" placeholder="Vd: Loại hình thức này giúp người dân báo cáo các sai phạm"></textarea>
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Chú thích</label>
                <textarea class="form-control" id="moTa" rows="3" placeholder="Vd: Loại hình này khá quan trọng"></textarea>
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-info">Thêm loại hình thức</button>
            </div>
        </form>
    </div>
</div>