<% layout('layouts/canbo') %>

<style>
    p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: bold;
    }
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #0d6efd;   
    }
</style>

<form action="/so/canbo/dang-ky-tai-khoan-cb" method="POST">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/so/canbo/tai-khoan-cb">Danh sách tài khoản cán bộ phường quận</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tạo tài khoản cán bộ</li>
        </ol>
    </nav>
    <div class="container col-lg-8 mt-4">
        <div class="card">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Tạo tài khoản cán bộ</p>
                <div class="col-md-10 mt-3 ps-3">
                    <label class="fw-bold">Họ tên</label>
                    <input type="text" name="username" placeholder="Nhập họ tên cán bộ" class="form-control" required>
                </div>
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Ngày sinh</label>
                    <input type="date" name="birthday" placeholder="Chọn ngày, tháng, năm sinh" value="2018-01-01" class="form-control" required>
                </div>
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Số điện thoại</label>
                    <input type="text" name="phone" placeholder="Nhập số điện thoại" class="form-control" required>
                </div>
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Email</label>
                    <input type="email" name="email" placeholder="Nhập địa chỉ email" class="form-control" required>
                </div>
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Vai trò</label>
                    <select class="form-select" name="role" id="" required>
                        <option selected>Chọn vai trò</option>
                        <option value="phuong">Cán bộ phường</option>
                        <option value="quan">Cán bộ quận</option>
                    </select>
                </div>   
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Quận quản lý</label>
                    <select name="item[districtId]" class="form-select" aria-label="Default select example">
                        <option value="" selected disabled>Chọn Quận</option>
                        <% for (let district of districtList) { %>
                        <option value="<%= district.id %>"><%= district.name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-5 mt-3 ps-3">
                    <label class="fw-bold">Phường quản lý</label>
                    <select name="item[phuongId]" class="form-select" aria-label="Default select example">
                        <option value="" selected disabled>Chọn Phường</option>
                    </select>
                </div>
                <div class="col-md-10 mt-3 ps-3">
                    <label class="fw-bold">Mật khẩu đăng nhập</label>
                    <div class="input-group">
                        <input type="text" name="password" id="password" placeholder="Nhập mật khẩu ban đầu cho cán bộ (thay đổi sau)" class="form-control" required>
                        <span class="bg-white border-left-0">
                            <button class="input-group-text bg-transparent" id="btnSubmit" type="button">
                                <i class="bi bi-eye-slash"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 mt-5 mb-5 mx-1 mx-md-4 ps-3">
                    <button class="form-control fs-6 fw-bold" type="submit" style="background-color: #468b4a;"><p class="text-white">Tạo tài khoản</p></button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $("#btnSubmit").click(function(){
            var passInput=$("#password");
            var passClass=$("#btnSubmit");
            if(passInput.attr('type')==='password')
            {
                passInput.attr('type','text');
                $("i", this).toggleClass("bi bi-eye bi bi-eye-slash");
            } else {
                passInput.attr('type','password');
                $("i", this).toggleClass("bi bi-eye-slash bi bi-eye");
            }
        }); 
    });
</script>

<script>
    var district = undefined
    var ward = undefined
    var districtSelect = document.querySelector('select[name="item[districtId]"]');
    var wardSelect = document.querySelector('select[name="item[phuongId]"]');

    // Disable the second select initially
    wardSelect.disabled = true;

    // Add an event listener to the first select to enable/disable the second select
    districtSelect.addEventListener('change', async function () {
        var selectedDistrictId = districtSelect.value;
        var selectedDistrictName = 'Quận '+ districtSelect.options[districtSelect.selectedIndex].text;
        // Enable the second select if a district is selected, otherwise disable it
        wardSelect.disabled = selectedDistrictId === '';
        // Fetch and populate wards for the selected district
        fetch(`/so/quanly/quan/${selectedDistrictId}/phuong?json=true`)
            .then(response => response.json())
                .then(data => {
                    // Clear existing options
                    wardSelect.innerHTML = '<option value="" selected disabled>Chọn Phường</option>';
                    // Iterate over the array and append options to 'wardSelect'
                    data.forEach(ward => {
                        var option = document.createElement('option');
                        option.value = ward._id;
                        option.textContent = ward.name;
                        wardSelect.appendChild(option);
                    });
                })
            .catch(error => console.error('Error fetching wards:', error));
        
        wardSelect.addEventListener('change', async function () {
            var selectedWardId = wardSelect.value;
        });
    });
</script>