<% layout('layouts/canbo') %>
<h1 class="text-center">Chỉnh sửa loại hình thức -Loại hình nào?-</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="">
            <div class="mb-3">
                <label for="tenQuan" class="form-label">Tên loại hình thức</label>
                <input type="text" class="form-control" id="tenQuan" placeholder="" value="Tố giác sai phạm">
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Mô tả</label>
                <textarea class="form-control" id="moTa" rows="3">Loại hình thức này giúp người dân báo cáo các sai phạm</textarea>
              </div>
              <div class="mb-3">
                <label for="moTa" class="form-label">Chú thích</label>
                <textarea class="form-control" id="moTa" rows="3">Loại hình này khá quan trọng</textarea>
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-info">Chỉnh sửa</button>
            </div>
        </form>
    </div>
</div>