<% layout('layouts/canbo') %>

<div id="map"></div>

<div class="row">
  <div class="col-xl-8 search-bar">
    <i class="fa-solid fa-magnifying-glass search-bar__icon"></i>
    <input
      class="search-bar__input"
      type="text"
      placeholder="Tìm kiếm theo địa chỉ"
    />
  </div>
</div>

<div class="ads-point">
  <span class="ads-point__name">QC</span>
  <div class="ads-point__info">
    <div class="info__form">Cổ động chính trị</div>
    <div class="info__type">
      Đất công/Công viên/Hành lang an toàn giao thông
    </div>
    <div class="info__address">
      Đồng Khởi - Nguyễn Du (Sở văn hóa và thể thao), Phường Bến Nghé, Quận 1
    </div>
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/015/936/418/small_2x/square-blank-billboard-city-street-free-photo.jpg"
      alt=""
      class="info__img"
    />
    <div class="info__planning-stt">ĐÃ QUY HOẠCH</div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=" defer></script>
