<% layout('layouts/canbo') %>

<div class="container my-5 col-6">
    <div class="card shadow p-4 bg-light">
        <h2 class="text-center mb-4">Nhóm 09</h2>
        <p class="lead text-center mb-4">Đồ án quản lý quảng cáo thành phố Hồ Chí Minh</p>

        <div class="text-center">
            <h4 class="mb-3">Thành viên</h4>
            <ul class="list-group">
                <li class="list-group-item">Nguyễn Tuấn Kiệt - 21127089</li>
                <li class="list-group-item">Phạm Ánh Như Ngọc - 21127119</li>
                <li class="list-group-item">Phạm Trần Tuấn Tú - 21127717</li>
                <li class="list-group-item">Nguyễn Minh Thông - 21127696</li>
            </ul>
        </div>

        <div class="text-center mt-4">
            <h4 class="mb-3">Giáo viên hướng dẫn</h4>
            <ul class="list-group">
                <li class="list-group-item">Trần Thị Bích Hạnh</li>
                <li class="list-group-item">Ngô Ngọc Đăng Khoa</li>
            </ul>
        </div>
    </div>
</div>
