<div>
  <select
    class="form-select"
    aria-label="Default select example"
    id="phuong-dropdown"
  >
    <% wards.forEach(ward => { %>
    <option value="phuong-<%= ward.name %>">Phường <%= ward.name %></option>
    <% }); %>
  </select>
</div>
