/* canbo.ejs style */
#outer-rectangle {
  background-color: #f8f8fd;
  /* display: flex; */
  /* align-items: center; */
}

main {
  background-color: #cad9fb;
}

.nav-pills li a:hover {
  background-color: blue;
}
