<% layout('layouts/canbo') %>

<div class="card">
  <h5 class="card-header bg-primary-subtle">Chi tiết báo cáo</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-secondary"
      >Cập nhật tình trạng và cách thức xử lý</a
    >
  </div>
</div>
