<div>
    <select class="form-select" aria-label="Default select example" id="qldropdown" onchange="window.location = this.value">
        <option value="/so/hanhchinh/cap-phep-qc">Danh sách yêu cầu cấp phép quảng cáo</option>
        <option value="/so/hanhchinh/chinh-diem-qc">Danh sách yêu cầu chỉnh điểm quảng cáo</option>
        <option value="/so/hanhchinh/chinh-bang-qc">Danh sách yêu cầu chỉnh bảng quảng cáo</option>
        <option value="/so/hanhchinh/thong-ke-qc">Thống kê báo cáo & cách thức xử lý</option>
    </select>
</div>
<div class="d-flex flex-row">
    <div>
      <select name="item[districtId]" class="form-select" aria-label="Default select example">
          <option value="" selected disabled>Chọn Quận</option>
          <% for (let district of districtList) { %>
            <option value="<%= district.id %>"><%= district.name %></option>
          <% } %>
      </select>
    </div>
    <div>
        <select name="item[phuongId]" class="form-select" aria-label="Default select example">
        </select>
    </div>
        <button class="input-group-text" name="item[button]" >
            <b class="bi bi-search"> Tìm </b>
        </button>
    </form>
</div>
<script>
    document.querySelector(`option[value="${window.location.pathname}"]`).selected = true;
</script>

<script>
    var district = undefined
    var ward = undefined
    var districtSelect = document.querySelector('select[name="item[districtId]"]');
    var wardSelect = document.querySelector('select[name="item[phuongId]"]');
    var submitButton = document.querySelector('button[name="item[button]"]');
    // Disable the second select initially
    wardSelect.disabled = true;
    submitButton.disabled = true;
    // Add an event listener to the first select to enable/disable the second select
    districtSelect.addEventListener('change', async function () {
        var selectedDistrictId = districtSelect.value;
        var selectedDistrictName = 'Quận '+ districtSelect.options[districtSelect.selectedIndex].text;
        // Enable the second select if a district is selected, otherwise disable it
        wardSelect.disabled = selectedDistrictId === '';
        // Fetch and populate wards for the selected district
        fetch(`/so/quanly/quan/${selectedDistrictId}/phuong?json=true`)
            .then(response => response.json())
                .then(data => {
                    // Clear existing options
                    wardSelect.innerHTML = '<option value="" selected disabled>Chọn Phường</option>';
                    // Iterate over the array and append options to 'wardSelect'
                    data.forEach(ward => {
                        var option = document.createElement('option');
                        option.value = ward._id;
                        option.textContent = ward.name;
                        wardSelect.appendChild(option);
                    });
                })
            .catch(error => console.error('Error fetching wards:', error));
        wardSelect.addEventListener('change', async function () {
            var selectedWardId = wardSelect.value;
            submitButton.disabled = selectedDistrictId === '' && selectedWardId  === '';
        });
    });
</script>