<select class="form-select" aria-label="Default select example" id="qldropdown">
    <option value="/so/hanhchinh/cap-phep-qc" selected>Danh sách yêu cầu cấp phép quảng cáo</option>
    <option value="/so/hanhchinh/chinh-diem-qc">Danh sách yêu cầu chỉnh điểm quảng cáo</option>
    <option value="/so/hanhchinh/chinh-bang-qc">Danh sách yêu cầu chỉnh bảng quảng cáo</option>
    <option value="/so/hanhchinh/thong-ke-qc">Thống kê báo cáo & cách thức xử lý</option>
</select>