<div class="d-none position-absolute col-10 offset-1 rounded border border-2 border-primary map-window bg-light p-0 d-flex flex-column"
    style="height: 500px;" id="map-window">
        <div class="d-flex justify-content-between bg-primary">
            <div class="btn bg-success rounded-0 text-light" id="save">Save</div>
            <div class="btn bg-danger rounded-0 text-light" id="cancel">Cancel</div>
        </div>
        <div id="map" class="flex-grow-1"></div>
    </div>