<section class="d-flex">
    <div>
        <select class="form-select" aria-label="Default select example">
            <option selected><a href="">Quản lý danh sách Quận, Phường</a></option>
            <option value="1"><a href="">Quản lý loại hình quảng cáo</a></option>
            <option value="2"><a href="">Quản lý loại hình thức báo cáo</a></option>
            <option value="3"><a href="">Quản lý các điểm đặt quảng cáo</a></option>
            <option value="3"><a href="">Quản lý các bảng quảng cáo</a></option>
        </select>
    </div>
</section>