<div>
  <select class="form-select" aria-label="Default select example"  id="qldropdown" onchange="window.location = this.value">
      <option value="/so/quanly/quan">Quản lý danh sách Quận, Phường</option>
      <option value="/so/quanly/diem-dat-quang-cao">Quản lý các điểm đặt quảng cáo</option>
      <option value="/so/quanly/bang-quang-cao">Quản lý các bảng quảng cáo</option>
      <option value="/so/quanly/loai-hinh-quang-cao">Quản lý loại hình quảng cáo</option>
      <option value="/so/quanly/loai-bang-quang-cao">Quản lý loại bảng quảng cáo</option>
      <option value="/so/quanly/hinh-thuc-bao-cao">Quản lý loại hình thức báo cáo</option>
  </select>
</div>
<script>
document.querySelector(`option[value="${window.location.pathname}"]`).selected = true;
</script>