<div>
  <select class="form-select" aria-label="Default select example"  id="qldropdown" onchange="window.location = this.value">
    <option value="/so/quanly/diem-dat-quang-cao">Các điểm đặt quảng cáo</option>
      <option value="/so/quanly/quan">Danh sách Quận</option>
      <!-- <option value="/so/quanly/bang-quang-cao">Các bảng quảng cáo</option> -->
      <option value="/so/quanly/loai-vi-tri">Loại vị trí</option>
      <option value="/so/quanly/loai-hinh-quang-cao">Loại hình quảng cáo</option>
      <option value="/so/quanly/loai-bang-quang-cao">Loại bảng quảng cáo</option>
      <option vaLue="/so/quanly/hinh-thuc-bao-cao">Hình thức báo cáo</option>
  </select>
</div>
<script>
document.querySelector(`option[value="${window.location.pathname}"]`).selected = true;
</script>